/*calc.css */

body{
    margin: 70px;
}

.calc {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 13px;
    border-style: solid;
    border-radius: 15px;
    height: 550px; 
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(16, 15, 15);

}


.head {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: grey;
    height: 180px;
    width: 340px;
    border-radius: 10px;
}

.head-items {
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins";
    font-weight: 850;
    padding-right: 3px;
    padding-bottom: 2px; 
    gap: 2px;
    min-width: 0;
    font-size: clamp(1rem, 65px, 2rem); /* responsive scaling */
    /*               min   pref  max                                         */
    overflow: hidden;
    white-space: nowrap;

}

.textDisplay {
    font-size: medium;
}

.imgDisplay {
    height: 22px;
    width: 22px;
    padding-right: 3px; 
    padding-bottom: 2px; 
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    height: 62px;
    width: 75px; 
    background-color: rgba(255, 255, 255, 0.105);
    border-color: rgb(1, 4, 6);
    border-style: solid;
    border-radius: 30px;
}

.pushed {
        transform: translateY(2px);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        /* Add any other styles for the persistent pushed state */
    }

.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 21px; 
    width: 450px;
}

.clear {
    width: 155px;
}

img {
    width: 40%;
}

img:hover {
    cursor: pointer;
}